body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
}

#mainContainer {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
}

#buttons {
    margin-bottom: 10px;
}

button {
    padding: 8px;
    cursor: pointer;
}

#result {
    height: 80px;
}

#youFoundMe {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    color: #fff; /* Text color to match the background */
    border: none;
    outline: none;
    cursor: pointer;
}

#youFoundMe:hover {
    background-color: transparent;
}
